<STYLE TYPE="text/css">

  p, ul, td {  font-family: arial, Verdana; font-size: 10pt }
    
  a:link { color: #6666FF}
  a:visited { color: #666699}
  a:active  {text-decoration: none; color: #009900}
  a:hover  { color: #FF6666}

  .caption1 { font-size: 25pt; text-align: center; font-weight: bold; color: #9999FF ; background: #ECECFF }
  .caption2 { font-size: 12pt; font-weight: bold; color: #40A040; background: #CCFFCC  }
  .caption3 { font-size: 12pt; text-align: center; font-weight: bold; color: #40A040; background: #CCFFCC  }
  .main { font-size: 10pt }
  .cprt { font-size: 8pt; font-family: Comic Sans MS, arial }
  H6  {arial, color: #FFFFFF}

</STYLE>

